.contact-section {
    position: relative;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;

}

.contact-section .img1 {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 340px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

.contact-section .img2 {
    position: absolute;
    left: 5%;
    top: 10%;
    height: 200px;
    clip-path: polygon(30% 0, 71% 0, 100% 100%, 0% 100%);


}

.contact-section .img3 {
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 250px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 21% 100%);

}

.contact-section p {
    margin-top: 100px;

}

.contact-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    max-width: 550px;
    text-align: center;
    background: linear-gradient(to right, #ff4ecb, #00f7ff, #7f00ff, #ff6b00, #ff4ecb);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}

.contact-section button {
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: black;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;

}

.contact-section button:hover {
    box-shadow: 0 0 15px lightgray;
    opacity: 0.7;

}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.243);
    backdrop-filter: blur(10px);
    height: 100px;

}

.footer p {
    margin: 0 20px;

}

.footer ul {
    display: flex;
    list-style: none;
    margin-right: 140px;

}

.footer a {
    text-decoration: none;
    color: white;
    padding: 7px 7px;
    border-radius: 50px;
    border: 1px solid lightblue;
    transition: 0.3s;
    margin: 0 10px;

}